[
    {task_dispatch,
        [
            {task_module, task_test}  %callback  1、task_list 2、task_notice  3、task_cancel
        ]
    },
    {mnesia_cluster,
        [
            {table_definition_mod, {task_test, mnesia_tables, []}},
            {app_process,mnesia_cluster},
            {cluster_nodes, {[
                'task_dispatch@127.0.0.1',
                'task_dispatch1@127.0.0.1'
            ], disc}},
            {cluster_partition_handling, ignore}
        ]
    }
].

