[
    {task_dispatch,
        [
            {task_module, task_callback},  %callback  1、task_list 2、task_notice  3、task_cancel
            {node_timeout, 10000},
            {check_time, 5000},
            {retry, 3}
        ]
    },
    {mnesia_cluster,
        [
            {table_definition_mod, {task_callback, mnesia_tables, []}},
            {app_process,mnesia_cluster},
            {cluster_nodes, {[
                'task_dispatch@127.0.0.1',
                'task_dispatch1@127.0.0.1'
            ], disc}},
            {cluster_partition_handling, ignore}
        ]
    }
].

